:root {
  --session-color-light: #fff4e3;
  --session-color-dark: #96311f;
  --break-color-light: #ecf4e3;
  --break-color-dark: #43530d;

  --session-color-bg: var(--session-color-dark);
  --session-color-fg: var(--session-color-light);
  --break-color-bg: var(--break-color-dark);
  --break-color-fg: var(--break-color-light);

  --color-bg: var(--session-color-bg);
  --color-fg: var(--session-color-fg);

  --transition-duration: 180ms;
}

@media (prefers-color-scheme: light) {
  :root {
    --session-color-bg: var(--session-color-light);
    --session-color-fg: var(--session-color-dark);
    --break-color-bg: var(--break-color-light);
    --break-color-fg: var(--break-color-dark);
  }
}

html {
  color-scheme: light dark;

  background-color: var(--color-bg);
  color: var(--color-fg);

  /* Prevent font size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  &:has([data-step='break']) {
    --color-bg: var(--break-color-bg);
    --color-fg: var(--break-color-fg);
  }
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  display: flex;
  place-items: center;

  margin: 0;
  min-block-size: 100vh;
  min-block-size: 100dvh;

  ::selection {
    background-color: var(--color-fg);
    color: var(--color-bg);
  }
}

button.icon {
  --border-width: 2px;
  --min-content-size: 2rem;

  border-width: var(--border-width);
  border-style: solid;
  border-radius: 999em;

  background-color: var(--color-fg);
  border-color: var(--color-fg);
  color: var(--color-bg);

  line-height: 0;
  font-size: var(--min-content-size);

  padding: calc(1rem - var(--border-width));

  outline-color: transparent;
  outline-offset: 0.25rem;
  outline-style: solid;
  outline-width: 0.125rem;

  transition-property: background-color, border-color, color, outline-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: var(--color-bg);
    border-color: var(--color-fg);
    color: var(--color-fg);
  }

  &:focus-visible {
    outline-color: var(--color-fg);
  }

  svg {
    block-size: 1.5em;
    inline-size: 1.5em;
  }
}

main {
  text-align: center;

  margin-block: 0;
  margin-inline: auto;
  padding: min(10vh, 2rem);
}

.time {
  font-size: min(30vh, 30vw);
  font-variant-numeric: tabular-nums;
  line-height: 1;

  margin: 0;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 4vw;

  margin-block-start: 10vh;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
